"\PhysicalDisk(*)\*" 
"\Process(*)\*" 
"\Processor(*)\*" 
"\ProcessorPerformance(*)\*" 
"\Memory\*" 
"\.NET CLR Memory(*)\*" 
"\System\*" 
"\Server\*"
"\TCPv4\*"
"\Network Interface(*)\*"
"\Hyper-V Virtual Switch Port(*)\*"
"\Server Work Queues(*)\*" 
"\LogicalDisk(*)\*" 
"\Paging File(*)\*" 
"\Redirector\*" 
"\Terminal Services\*"
"\Cache\*" 
"\Netlogon(*)\*" 
"\NTDS\*" 
"\Per Processor Network Activity Cycles(*)\*"
"\Per Processor Network Interface Card Activity(*)\*"
"\SQLServer:Buffer Manager\*"
"\SQLServer:Buffer Node(*)\*"
"\SQLServer:Buffer Partition(*)\*"
"\SQLServer:Locks(*)\*"
"\SQLServer:Databases(*)\*"
"\SQLServer:General Statistics\*"
"\SQLServer:Latches\*"
"\SQLServer:Access Methods\*" 
"\SQLServer:Wait Statistics(*)\*"
"\SQLServer:SQL Statistics\*" 
"\SQLServer:Plan Cache(*)\*"
"\SQLServer:Memory Manager\*"
"\.NET CLR Memory(sqldwdms)\*"
"\Process(sqldwdms)\*"
"\Process(sqlservr)\*"
"\.NET CLR Memory(sqldweng)\*"
"\Process(sqldweng)\*"